<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css"
    integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5"
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/grids-responsive-min.css" />
    <script type="text/javascript" src="../static/intcheck.js"></script>
    <title>トップページ</title>
  </head>
  <body>
    <div class="content">
      <h1>債券予測アプリ</h1>
      <p>お手持ちの債券から投資に役立つ情報がわかります</p>
    <div id="info">
      <form action="/consequence" method="POST" class="pure-form pure-form-stacked">
        <fieldset>
          <legend>購入価格と債券の残りの期間と額面100円*利率を掛けた利息クーポンを数字で入力してね</legend>
          <div class="block">
            <label for="price">額面100円あたりの購入価格</label>
            <input type="text" name="price" id="price" onchange="intcheck()" autocomplete="off" placeholder="既債の価格">
            <label for="term">年数</label>
            <input type="text"  name="term" id="term" onchange="intcheck()" autocomplete="off"
            placeholder="満期までの残り期間">
            <label for="interest">受け取る利息の金額(円)</label>
            <input type="text" name="interest" id="interest" onchange="intcheck()" autocomplete="off" placeholder="定期的クーポンの金額">
          </div>
          <div>
            <style scoped="">
              .button-send {
                color: white;
                border-radius: 4px;
                text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
                background: rgb(28, 184, 65);
                /* this is a green */
              }
            </style>
          </div>
          <button type="submit" class="button-send pure-button">送信</button>
        </fieldset>
      </form>
    </div>
    </div>
  </body>
</html>
